
     #letra{
      color: white;
     }
    nav{
      background-color: #7BA1B1;
    }
    #titulo
    {
      color: white;
      font-size: 30px;
      font-family: 'Rampart One', cursive;
    }
    #ini{
      color: white;
    }
    #reg{
      color: white;
      margin-left: 10px;
    }
    #logout{
      color: white;
      margin-left: 10px;
    }

    #carousel-23
    {
      width: 80%;
      height: 50%;
     margin-left: 10%;
  
   
    }
    

#frase
{
  text-align: start;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 10px;
}   

#titu{
  margin-top: 0;
  font-family: 'Goblin One', cursive;
  color: dark gray;
 
  }
#une{
  display: flex;
  justify-content: center;
}


  #plantilla{
    border: 2px solid #F3E7B5;
    background-color: #FEF6D6;
    color: #938550;
  }
  
#btn-task-form{
  background-color: rgb(121, 187, 121);
  border: 0px;
}

#publicacion2{
  border: 2px solid #D1CEC2;
  background-color: #D3CFC1
}
#anun{
  margin-left: 14px;
  background-color: #FEFFD4;

}
.pub 
{
  border: none;
  height: 70%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.card-group{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.card{
  margin-right: 30px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7BA1B1;
}

.card-text{
  font-size: 18px;
}
.card-title{
  font-size: 25px;
}

#google{
  margin-right: 8px;
}

#dacat{
  background-color: #4D3B38;
  color: white;
}